<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BMI Calculator</title>
</head>

<body>

<h2>BMI Calculator</h2>

<form action="/bmi" method="post">

    <label>Height (meters):</label>
    <input type="text" name="height">
    <br><br>

    <label>Weight (kg):</label>
    <input type="text" name="weight">
    <br><br>

    <button type="submit">Calculate</button>

</form>

<br>

<div th:if="${bmi}">
    <h3>Your BMI: <span th:text="${bmi}"></span></h3>
    <h3>Category: <span th:text="${category}"></span></h3>
</div>

</body>
</html>